Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2024-11, with the labels that each got.

#86 [SL-UP]Update our refrigerator app zap configs. Enable identify, set default…
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: sl-up

#87 [SL-UP] No Pin Unlatch fix
  examples/lock-app/silabs/src/LockManager.cpp
Labels: sl-up

#91 [CSA-CP]ble connection parameters negociation
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Labels: csa-cp

#93 [SL-UP] Change freertos include used to fix the macro not found
  examples/platform/silabs/SoftwareFaultReports.cpp
Labels: sl-up

#90 [CSA-CP]Provision SPAM
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: csa-cp

#96 [SL-TEMP] Don't assert app on display enable fail
  examples/platform/silabs/display/lcd.cpp
Labels: sl-temp

#98 [SL-TEMP]fix missing sl status for cmsis os2 common
  examples/platform/silabs/MatterShell.cpp
Labels: sl-temp

#103 [SL-UP] Remove two algo design for the wifi retry mechanism
  examples/lock-app/silabs/src/LockManager.cpp
  examples/platform/silabs/MatterConfig.cpp
  scripts/tools/silabs/retrieve_sl_commits.py
  src/app/clusters/fan-control-server/fan-control-server.h
  src/app/util/attribute-metadata.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
Labels: sl-up

#104 [SL-UP] Add BRD4338A support for Wiseconnect 3.4 in GN
  examples/platform/silabs/ldscripts/SiWx917-common.ld
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: changing-submodules-on-purpose, sl-up

#108 [SL-UP] Rename ot interval to transport interval
  examples/light-switch-app/silabs/openthread.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/lock-app/silabs/openthread.gni
  examples/platform/silabs/efr32/project_include/OpenThreadConfig.h
  examples/smoke-co-alarm-app/silabs/openthread.gni
  examples/window-app/silabs/openthread.gni
  src/platform/silabs/CHIPDevicePlatformConfig.h
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose, sl-up

#109 [SL-UP] Delete unnecessary double abstraction for the wiseconnect power save functions
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
Labels: sl-up

#110 [SL-UP] Update spi-multiplex header inclusion
  examples/platform/silabs/uart.cpp
  examples/refrigerator-app/silabs/src/RefrigeratorUI.cpp
  examples/thermostat/silabs/src/ThermostatUI.cpp
  src/platform/silabs/multi-ota/OTACustomProcessor.cpp
  src/platform/silabs/multi-ota/OTAFirmwareProcessor.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.cpp
Labels: sl-up

#111 [SL-UP] Fix Builds after Wi-Fi interface refactor
  src/platform/silabs/SiWx917/SiWxPlatformInterface.h
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/wf200/WifiInterface.cpp
  src/platform/silabs/wifi/wf200/platform/efr_spi.c
  src/platform/silabs/wifi/wf200/platform/sl_wfx_host.h
Labels: sl-up

#113 [SL-UP] Introduce PlatformSleepManager to manage Wi-Fi sleep states
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/wifi/icd/BUILD.gn
  examples/platform/silabs/wifi/icd/SleepManager.cpp
  examples/platform/silabs/wifi/icd/SleepManager.h
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/CHIPDevicePlatformEvent.h
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  src/platform/silabs/wifi/BUILD.gn
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/icd/WifiSleepManager.cpp
  src/platform/silabs/wifi/icd/WifiSleepManager.h
Labels: sl-up

#114 [SL-ONLY] Feature/silabs tracing logs formating
  src/platform/silabs/tracing/SilabsTracing.cpp
  src/platform/silabs/tracing/SilabsTracing.h
  src/platform/tests/TestSilabsTracing.cpp
Labels: sl-only

#88 [SL-ONLY] First version of the script to parse git branches for our commits TAG
  scripts/tools/silabs/retrieve_sl_commits.py
Labels: sl-only

#116 [SL-UP] Add application callback to allow the application to inject logic
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/icd/WifiSleepManager.cpp
  src/platform/silabs/wifi/icd/WifiSleepManager.h
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: changing-submodules-on-purpose, sl-up

#117 [SL-UP] Add fabric subscription check to the interaction model engine
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/SubscriptionsInfoProvider.h
  src/app/icd/server/tests/TestICDManager.cpp
  src/app/tests/TestInteractionModelEngine.cpp
Labels: sl-up

#125 [SL-UP] Bugfix/matter shell crash nullptr
  src/lib/shell/Engine.cpp
Labels: sl-up

#124 [CSA-CP] Adds refrigerator app matter shell support for change door state (#36548)
  examples/lock-app/silabs/src/EventHandlerLibShell.cpp
  examples/refrigerator-app/silabs/BUILD.gn
  examples/refrigerator-app/silabs/include/EventHandlerLibShell.h
  examples/refrigerator-app/silabs/src/AppTask.cpp
  examples/refrigerator-app/silabs/src/EventHandlerLibShell.cpp
Labels: csa-cp

#126 [SL-UP] Remove WF200 define duplication to avoid value conflicts at runtime
  src/platform/silabs/wifi/BUILD.gn
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/wf200/wf200.gni
  src/platform/silabs/wifi/wfx_msgs.h
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose, sl-up

#129 [SL-ONLY] Change repo license to the Silicon Labs msla
  LICENSE
Labels: sl-only

#128 [SL-UP] Fix builds for sleep manager
  src/platform/silabs/Logging.cpp
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
Labels: sl-up

#134 [SL-UP] Remove the `ActiveSubscription` flag when the ReadHandler is being destroyed
  src/app/ReadHandler.cpp
Labels: sl-up

#138 [CSA-CP] removed unnecessary include (#36646)
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
Labels: csa-cp

#140 [SL-ONLY]Bugfix/unused watermark attribute
  src/platform/silabs/tracing/SilabsTracing.cpp
Labels: sl-only

#142 [SL-UP] Bugfix/silabs out rtt removal
  src/platform/silabs/Logging.cpp
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose, sl-up

#144 [SL-ONLY] Bugfix/gn true to define true
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose

#145 [SL-ONLY] Fix init sequence for the Application Sleep Manager
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.cpp
Labels: sl-only

#119 [SL-UP] Fix for access point power cycle rejoin issue with ecosystem
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
Labels: sl-up

#136 [SL-UP] Updating the firmware upgrade status for SoC
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
Labels: sl-up
