Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2024-10, with the labels that each got.

#62 [SL-ONLY] Fix codeowners typo
  .github/CODEOWNERS
Labels: sl-only

#64 [SL-TEMP] Add codeowners file to the release branch
  .github/CODEOWNERS
Labels: sl-temp

#66 [SL-TEMP]Add Matter+zigbee cmp logic On matter commissioning complete
  examples/platform/silabs/BaseApplication.cpp
Labels: sl-temp

#70 [SL-UP] Resolve build error for 917NCP
  src/platform/silabs/BLEManagerImpl.h
Labels: sl-up

#69 [CSA-CP] Modify region code for module boards(brd4343a)
  examples/platform/silabs/SiWx917/SiWx917/sl_wlan_config.h
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/examples/gn_silabs_example.sh
  third_party/silabs/silabs_board.gni
Labels: changing-submodules-on-purpose, csa-cp

#72 [CSA-CP][ICD] Set MaximumCheckInBackOff to external and fix define guards for…
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: csa-cp

#73 [CSA-CP] Fix thermostat hang issue for SOC.
  examples/thermostat/silabs/include/SensorManager.h
  examples/thermostat/silabs/src/SensorManager.cpp
Labels: csa-cp

#76 [SL-UP] Skip the OpenThread API call for WiFi builds
  examples/platform/silabs/uart.cpp
Labels: sl-up

#77 [CSA-CP] Test event trigger slc support
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
Labels: csa-cp

#79 [SL-UP] 917 static variable retention fix
  examples/lock-app/silabs/include/LockManager.h
  examples/lock-app/silabs/src/LockManager.cpp
Labels: sl-up

#84 [SL-UP] Set coupleColorTempToLevelMinMireds at the same value than ColorTempPhysicalMinMireds
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
Labels: sl-up

#82 [SL-UP] Updated return value when null is written as per spec
  src/app/clusters/fan-control-server/fan-control-server.cpp
  src/app/tests/suites/TestFanControl.yaml
Labels: sl-up
