Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2024-12, with the labels that each got.

#137 [SL-UP] Adds and updates logs for RS911X
  src/platform/silabs/wifi/lwip-support/ethernetif.cpp
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
Labels: sl-up

#133 [SL-UP] 917ncp init failure fix
  examples/platform/silabs/MatterConfig.cpp
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/rs911x/platform/efx32_ncp_host.c
Labels: sl-up

#107 [SL-UP] Removed the OTA update provider from the zap file of refrigerator application
  examples/refrigerator-app/silabs/BUILD.gn
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: sl-up

#135 [CSA-CP] Adds fix for support default value in refrigerator alarm cluster Refrigerator application (#36651)
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: csa-cp

#150 [SL-TEMP] Updated endpoint for the Identify cluster from endpoint 0 to endpoint 1
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: sl-temp

#147 [SL-TEMP] Temp/ble adv timeout
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/tracing/SilabsTracing.h
Labels: sl-temp

#152 [SL-UP] Bring PSA crypto changes
  examples/platform/silabs/FreeRTOSConfig.h
  src/crypto/BUILD.gn
  src/crypto/DefaultSessionKeystore.h
  src/crypto/crypto.gni
  src/crypto/tests/TestChipCryptoPAL.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
  src/platform/silabs/efr32/args.gni
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
Labels: sl-up, csa-cp

#146 [SL-UP] Update GN Wi-Fi Lock App to integrate with selective listening
  examples/lock-app/silabs/build_for_wifi_args.gni
Labels: sl-up

#159 [SL-UP] Bugfix: PSA Crypto keystore for Wi-fi.
  scripts/examples/gn_silabs_example.sh
Labels: sl-up

#162 [SL-UP] Deactivate the network interface for a specific Wi-Fi connection status to resolve the rejoin issue
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
Labels: sl-up

#161 [SL-TEMP] Fix for the Amazon ecosystem's scan all networks issue
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.cpp
Labels: sl-temp

#163 [CSA-CP] Adds on off cluster in zap for refrigerator application mode base cluster
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: csa-cp

#167 [SL-UP] Fix Wi-Fi Sleep Manager commissioning progress check from clean boot
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.cpp
  src/platform/silabs/wifi/icd/WifiSleepManager.cpp
  src/platform/silabs/wifi/icd/WifiSleepManager.h
Labels: sl-up

#175 [SL-TEMP] Enable instant bg scanning to retrieve the network scan status
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
Labels: sl-temp

#176 [SL-UP] Fix test event trigger enable validation
  examples/platform/silabs/SilabsTestEventTriggerDelegate.cpp
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  src/platform/silabs/provision/ProvisionStorage.h
Labels: sl-up

#174 [SL-ONLY] Add custom rules to selective listening
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.cpp
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.h
  src/platform/silabs/CHIPPlatformConfig.h
Labels: sl-only

#148 [SL-UP]Adding the dimmer switch App
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/light-switch-app/silabs/include/AppConfig.h
  examples/light-switch-app/silabs/include/AppEvent.h
  examples/light-switch-app/silabs/include/AppTask.h
  examples/light-switch-app/silabs/include/BindingHandler.h
  examples/light-switch-app/silabs/include/LightSwitchMgr.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/src/BindingHandler.cpp
  examples/light-switch-app/silabs/src/LightSwitchMgr.cpp
  examples/light-switch-app/silabs/src/ShellCommands.cpp
Labels: sl-up

#187 [SL-ONLY] re-enable channel steering for series2. update the ifdef condition
  examples/platform/silabs/BaseApplication.cpp
Labels: sl-only
