Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2025-02, with the labels that each got.

#284 [SL-ONLY] Add selective listening framework to WifiSleepManager
  src/platform/silabs/wifi/icd/WifiSleepManager.cpp
  src/platform/silabs/wifi/icd/WifiSleepManager.h
Labels: sl-only

#279 [SL-ONLY] Cherry-pick all sl only from release_2.5.{0.1}
  .github/silabs-builds-mg26.json
  LICENSE
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/main.cpp
  examples/platform/silabs/shell/BUILD.gn
  examples/platform/silabs/shell/tracing/TracingShellCommands.cpp
  examples/platform/silabs/shell/tracing/TracingShellCommands.h
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.cpp
  examples/platform/silabs/wifi/icd/ApplicationSleepManager.h
  examples/platform/silabs/wifi/icd/BUILD.gn
  src/platform/silabs/CHIPPlatformConfig.h
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
  src/platform/silabs/tracing/BUILD.gn
  src/platform/silabs/tracing/BackendImpl.cpp
  src/platform/silabs/tracing/BackendImpl.h
  src/platform/silabs/tracing/SilabsTracing.cpp
  src/platform/silabs/tracing/SilabsTracing.h
  src/platform/silabs/tracing/SilabsTracingMacros.h
  src/platform/silabs/tracing/SilabsTracingTypes.h
  src/platform/tests/TestSilabsTracing.cpp
  src/tracing/silabs/BUILD.gn
  src/tracing/silabs/include/matter/tracing/macros_impl.h
  src/tracing/tracing_args.gni
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose, sl-require-admin-action

#286 [CSA-CP] Bugfix: PSA AEAD encryption.
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
Labels: csa-cp
