Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2025-04, with the labels that each got.

#385 [SL-UP] Brd4357a config changes fix
  scripts/examples/gn_silabs_example.sh
  src/platform/silabs/rs911x/rsi_ble_config.h
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: changing-submodules-on-purpose

#415 [CSA-CP] : Stop using old ubuntu version (#37870)
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: csa-cp

#412 [CSA-CP] : Air quality sparkfun 917soc matter sdk
  examples/air-quality-sensor-app/silabs/include/AirQualityConfig.h
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
Labels: csa-cp

#414 [SL-ONLY] Add factory reset call for zigbee
  examples/platform/silabs/BaseApplication.cpp
Labels: sl-only

#413 [SL-ONLY]Add cmp datamodel sync api
  examples/platform/silabs/cmp/sl-matter-attribute-storage.cpp
  examples/platform/silabs/cmp/sl-matter-attribute-storage.h
Labels: sl-only

#427 [SL-ONLY] Replace javascript exit call with bash exit
  .github/workflows/silabs-require-admin-action-check.yaml
Labels: sl-require-admin-action
