Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2025-03, with the labels that each got.

#313 [SL-ONLY] Update Fan Control App zap generation
  examples/fan-control-app/silabs/data_model/fan-control-thread-app.matter
  examples/fan-control-app/silabs/data_model/fan-control-wifi-app.matter
Labels: sl-only

#335 [CSA-CP] remove extern air quality
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
Labels: csa-cp

#336 [CSA-CP] User label max entry limit
  src/app/clusters/user-label-server/user-label-server.cpp
  src/app/tests/suites/TestUserLabelClusterConstraints.yaml
  src/platform/DeviceInfoProvider.cpp
Labels: csa-cp

#337 [CSA-CP] Fix Null Pointer Dereference in TCP Packet Handling
  src/transport/raw/TCP.cpp
  src/transport/raw/tests/TestTCP.cpp
Labels: csa-cp

#319 [SL-TEMP] OT_NETIF_THREAD_HOST
  src/inet/UDPEndPointImplOpenThread.cpp
Labels: sl-temp

#347 [SL-ONLY] BaseApplication Init refactor
  examples/air-quality-sensor-app/silabs/include/AppTask.h
  examples/air-quality-sensor-app/silabs/src/AppTask.cpp
  examples/chef/silabs/include/AppTask.h
  examples/chef/silabs/src/AppTask.cpp
  examples/energy-management-app/silabs/include/AppTask.h
  examples/energy-management-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/include/AppTask.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/lighting-app/silabs/include/AppTask.h
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lit-icd-app/silabs/include/AppTask.h
  examples/lit-icd-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/include/AppTask.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/pump-app/silabs/include/AppTask.h
  examples/pump-app/silabs/src/AppTask.cpp
  examples/refrigerator-app/silabs/include/AppTask.h
  examples/refrigerator-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/include/AppTask.h
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/thermostat/silabs/include/AppTask.h
  examples/thermostat/silabs/src/AppTask.cpp
  examples/window-app/silabs/include/AppTask.h
  examples/window-app/silabs/src/AppTask.cpp
Labels: sl-only

#348 [SL-ONLY] Silabs Trace End BaseAppInit
  examples/platform/silabs/BaseApplication.cpp
Labels: sl-only

#356 [CSA-CP] BaseApplication common LCD Init
  examples/air-quality-sensor-app/silabs/include/AppConfig.h
  examples/air-quality-sensor-app/silabs/src/AppTask.cpp
  examples/chef/silabs/include/AppConfig.h
  examples/energy-management-app/silabs/include/AppConfig.h
  examples/energy-management-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/include/AppConfig.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/lighting-app/silabs/include/AppConfig.h
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lit-icd-app/silabs/include/AppConfig.h
  examples/lit-icd-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/include/AppConfig.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/pump-app/silabs/include/AppConfig.h
  examples/pump-app/silabs/src/AppTask.cpp
  examples/refrigerator-app/silabs/include/AppConfig.h
  examples/refrigerator-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/include/AppConfig.h
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/thermostat/silabs/include/AppConfig.h
  examples/thermostat/silabs/src/AppTask.cpp
  examples/window-app/silabs/include/AppConfig.h
  examples/window-app/silabs/src/AppTask.cpp
Labels: csa-cp

#357 [SL-ONLY]Add cmp datamodel sync api
  examples/platform/silabs/cmp/sl-matter-attribute-storage.cpp
  examples/platform/silabs/cmp/sl-matter-attribute-storage.h
Labels: sl-only

#359 [CSA-CP] Added 917 NCP wakeup source config
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
Labels: csa-cp

#366 [SL-TEMP] Fix commissioning with test credentials
  examples/platform/silabs/provision/BUILD.gn
Labels: sl-temp

#376 [CSA-CP] Fixed RS9116 sleep issue
  src/platform/silabs/wifi/rs911x/rsi_wlan_config.h
  third_party/silabs/silabs_board.gni
Labels: changing-submodules-on-purpose

#368 [SL-UP] Adding app event for the LCD update
  examples/air-quality-sensor-app/silabs/include/AppEvent.h
  examples/chef/silabs/include/AppEvent.h
  examples/energy-management-app/silabs/include/AppEvent.h
  examples/light-switch-app/silabs/include/AppEvent.h
  examples/lighting-app/silabs/include/AppEvent.h
  examples/lit-icd-app/silabs/include/AppEvent.h
  examples/lock-app/silabs/include/AppEvent.h
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/platform/silabs/display/lcd.h
  examples/pump-app/silabs/include/AppEvent.h
  examples/refrigerator-app/silabs/include/AppEvent.h
  examples/smoke-co-alarm-app/silabs/include/AppEvent.h
  examples/thermostat/silabs/include/AppEvent.h
  examples/window-app/silabs/include/AppEvent.h
Labels: sl-up

#379 Merge Release 2.5-1.4 into Release 2.6-1.4
  examples/air-quality-sensor-app/silabs/include/AppEvent.h
  examples/chef/silabs/include/AppEvent.h
  examples/energy-management-app/silabs/include/AppEvent.h
  examples/light-switch-app/silabs/include/AppEvent.h
  examples/lighting-app/silabs/include/AppEvent.h
  examples/lit-icd-app/silabs/include/AppEvent.h
  examples/lock-app/silabs/include/AppEvent.h
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/platform/silabs/display/lcd.h
  examples/platform/silabs/provision/BUILD.gn
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  examples/pump-app/silabs/include/AppEvent.h
  examples/refrigerator-app/silabs/include/AppEvent.h
  examples/smoke-co-alarm-app/silabs/include/AppEvent.h
  examples/thermostat/silabs/include/AppEvent.h
  examples/window-app/silabs/include/AppEvent.h
  src/lwip/silabs/lwipopts-rs911x.h
  src/lwip/silabs/lwipopts-wf200.h
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/wifi/rs911x/rsi_wlan_config.h
  third_party/silabs/silabs_board.gni
Labels: changing-submodules-on-purpose, sl-require-admin-action
