Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2025-01, with the labels that each got.

#199 [SL-TEMP] Fixing scan networks code.
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.cpp
Labels: sl-temp

#178 [SL-ONY] Add custom silabs worklfows to build sample apps
  .github/silabs-builds-mg24.json
  .github/silabs-builds-mg26.json
  .github/silabs-builds-mgm24.json
  .github/silabs-builds-siwx.json
  .github/workflows/silabs-build-examples.yaml
  .github/workflows/silabs-common-build.yaml
Labels: sl-only

#222 [SL-ONLY] Add workflow to update the CSA branch daily
  .github/workflows/silabs-update-csa.yaml
Labels: sl-only

#224 [SL-TEMP] Add custom silabs worklfows to build sample apps (#178)
  .github/silabs-builds-mg24.json
  .github/silabs-builds-mg26.json
  .github/silabs-builds-mgm24.json
  .github/silabs-builds-siwx.json
  .github/workflows/silabs-build-examples.yaml
  .github/workflows/silabs-common-build.yaml
  examples/air-quality-sensor-app/silabs/build_for_wifi_gnfile.gn
  examples/lit-icd-app/silabs/build_for_wifi_gnfile.gn
  examples/pump-app/silabs/build_for_wifi_gnfile.gn
  examples/smoke-co-alarm-app/silabs/build_for_wifi_gnfile.gn
  src/platform/silabs/wifi/rs911x/rs9117.gni
Labels: sl-temp

#225 [SL-TEMP] Add custom silabs worklfows to build sample apps (#178)
  .github/silabs-builds-mg24.json
  .github/silabs-builds-mg26.json
  .github/silabs-builds-mgm24.json
  .github/silabs-builds-siwx.json
  .github/workflows/silabs-build-examples.yaml
  .github/workflows/silabs-common-build.yaml
  examples/air-quality-sensor-app/silabs/BUILD.gn
  examples/air-quality-sensor-app/silabs/build_for_wifi_gnfile.gn
  examples/lit-icd-app/silabs/build_for_wifi_gnfile.gn
  examples/pump-app/silabs/build_for_wifi_gnfile.gn
  examples/smoke-co-alarm-app/silabs/build_for_wifi_gnfile.gn
Labels: sl-temp

#231 [SL-UP] Add provisioning root argument
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/provision/BUILD.gn
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/provision/args.gni
  src/test_driver/efr32/BUILD.gn
Labels: sl-up

#254 [SL-UP] Raise TimerTask to the highest prio
  examples/platform/silabs/FreeRTOSConfig.h
Labels: sl-up

#255 [SL-ONLY] [CMP] ZLL not factory new
  examples/platform/silabs/BaseApplication.cpp
Labels: sl-only

#261 [SL-ONLY] Simplify require admin workflow
  .github/workflows/silabs-require-admin-action-check.yaml
Labels: sl-require-admin-action

#257 [SL-TEMP] Modified scan networks code to use ByteSpan in place of pointer.
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.h
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/wf200/WifiInterface.cpp
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.cpp
Labels: sl-temp
