Repository SiliconLabsSoftware/matter_sdk, pull requests merged in 2025-05, with the labels that each got.

#437 [SL-ONLY] Reduce overall permissions and add input checks
  .github/workflows/silabs-open-csa-pr.yaml
  .github/workflows/silabs-require-admin-action-check.yaml
  .github/workflows/silabs-update-csa.yaml
Labels: sl-require-admin-action

#446 [CSA-CP]Fix TestInetEndPoint to pass even when computer is offline (#38015)
  src/inet/tests/TestInetEndPoint.cpp
Labels: csa-cp

#451 [CSA-CP] Adds fix for integer overflow in TicksToMS function
  src/lwip/freertos/sys_arch.c
Labels: csa-cp

#450 [SL-UP]Support sl_main and remove SL_POWER_MANAGER_EM1 workwaround
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/main.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
Labels: sl-up

#457 [CSA-CP][ACL][WriteClient] Encoding non-empty ReplaceAll when writing to AccessControl Cluster
  src/access/AccessControl.cpp
  src/access/AccessControl.h
  src/app/MessageDef/AttributeDataIB.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/suites/TestAccessControlCluster.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_4.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_6.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_8.yaml
  src/controller/tests/TestWriteChunking.cpp
Labels: csa-cp

#439 [SL-UP] BLE Side Channel
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/shell/BUILD.gn
  examples/platform/silabs/shell/ble/BLEShellCommands.cpp
  examples/platform/silabs/shell/ble/BLEShellCommands.h
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEChannel.h
  src/platform/silabs/efr32/BLEChannelImpl.cpp
  src/platform/silabs/efr32/BLEChannelImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  third_party/silabs/efr32_sdk.gni
Labels: changing-submodules-on-purpose

#463 [SL-UP] Fix/unused var in ble manager
  .github/silabs-builds-mg24.json
  .github/silabs-builds-mg26.json
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Labels: sl-up

#466 [SL-UP] Add wrap config include path to siwx917_sdk template
  third_party/silabs/SiWx917_sdk.gni
Labels: changing-submodules-on-purpose

#467 [SL-UP] Multi-OTA code refactor and adding support for mbedTLS compatibility
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/multi-ota/OTATlvProcessor.cpp
  src/platform/silabs/multi-ota/OtaTlvEncryptionKey.h
  src/platform/silabs/multi-ota/OtaTlvEncryptionKeyMbed.cpp
  src/platform/silabs/multi-ota/OtaTlvEncryptionKeyPSA.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: changing-submodules-on-purpose
